<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Amin Shirazi Teaching</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">AMIN SHIRAZI - TEACHING <span></span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="https://ashirazist.github.io/">Amin Shirazi</a></li>
					<li><a href="index.html">Teaching</a></li>
					<li><a href="http://stat.iastate.edu">Statistics at ISU</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="One" class="wrapper style">
				<div class="inner">
				  <div class="align-center">
				 <img src="images/normal_distribution.PNG"   alt="" />
          </div>
				</div>
			</section>
		
		

		<!-- One -->
			<section id="one" class="wrapper style3">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/t_distribution.PNG" height="300" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
									  <h2><font color="purple">FALL 2019</font></h2>
										<h2><font color="purple">ENGINEERING STATISTICS</font></h2>
										<h>STAT 305 </h>
										<p>Iowa State University</p>
									</header>
									<h><font color="black"> This class covers principles of engineering data collection, descriptive statistics, elementary probability distributions, principles of experimentation, confidence intervals and significance tests, one-, two-, and multi-sample studies, and regression analysis.</font></h>
									<footer class="align-center">
										<a href="https://ashirazist.github.io/stat305.github.io/index.html" class="button special big">Course Page</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/box_plot1.JPG" height="300"  alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2><font color="red">SPRING 2020</font></h2>
										<h2><font color="red">ENGINEERING STATISTICS</font></h2>
										<h>STAT 305 </h>
										<p>Iowa State University</p>
									</header>
									<h><font color="black"> This class covers principles of engineering data collection, descriptive statistics, elementary probability distributions, principles of experimentation, confidence intervals and significance tests, one-, two-, and multi-sample studies, and regression analysis.</font></h>
									<footer class="align-center">
										<a href="https://ashirazist.github.io/stat305.github.io/index.html" class="button special big">Course Page</a>
									</footer>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">

						<li><a href="https://ashirazist.github.io/" class="fa fa-home" style="font-size:36px;color:red"><span class="label"></span></a></li>
						<li><a href="https://www.linkedin.com/in/ashirazist/" class="fa fa-linkedin-square"  style="font-size:36px;color:red"><span class="label"></span></a></li>
						<li><a href="http://stat.iastate.edu" class="fa fa-university" style="font-size:36px;color:red"><span class="label"></span></a></li>
						<li><a href="https://github.com/ashirazist" class="icon fa-github" style="font-size:36px;color:red"><span class="label">Github</span></a></li>
						<li><a href="ashirazi@iastate.edu" class="icon fa-envelope-o" style="font-size:36px;color:red"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>